body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
  color: #293c4b;
}

h1 {
  text-align: center;
}

th {
  text-align: left;
}

table {
  padding: 1rem;
}

img {
  margin: 20px 0;
  max-width: 200px;
}
